@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=JetBrains+Mono:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --color-brand: #4361EE;
  --color-brand-light: #E0E7FF;
  --color-accent: #FF9F1C;
  --color-success: #2EC4B6;
  --color-danger: #E71D36;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-sans;
  }
}
